

    <div class="d-flex justify-content-end align-items-end align-items-md-center flex-column flex-md-row bg-white pe-2 pt-3 mb-6" style="">
            <div class="d-flex align-items-center mt-6 mb-3 mb-md-0">
                <label for="itemsPerPage" class="form-label me-3 text-center">Items per page:</label>
                <select id="itemsPerPage" class="form-select me-3" onchange="updateItemsPerPage()" style="width: 68px; height: 85%; font-size: 15px;">
                    @if (ViewBag.PageSize != null)
                    {
                        <option value="1" selected="@(ViewBag.PageSize == 1 ? true : false)">1</option>
                        <option value="2" selected="@(ViewBag.PageSize == 2 ? true : false)">2</option>
                        <option value="5" selected="@(ViewBag.PageSize == 5 ? true : false)">5</option>
                        <option value="10" selected="@(ViewBag.PageSize == 10 ? true : false)">10</option>
                        <option value="25" selected="@(ViewBag.PageSize == 25 ? true : false)">25</option>
                    }
                </select>
            </div>
            <div class="d-flex align-items-center me-3">
                <div class="me-2">
                    Showing 
                    @{
                        var startRecord = (ViewBag.PageNumber - 1) * ViewBag.PageSize + 1;
                        var endRecord = ViewBag.PageNumber * ViewBag.PageSize;
                        if (endRecord > ViewBag.Count) 
                            endRecord = ViewBag.Count;
                        
                        if(ViewBag.Count==0){
                            startRecord = 0;
                            endRecord = 0;
                        }
                    }
                    <span style="color: green;" class="me-1">@startRecord  -  @endRecord</span>  of  <span style="color: red;" class="ms-1">@ViewBag.Count</span>
                </div>
                <div style="height: 100%">
                    <a href="@Url.Action("UserListAll")?PageSize=@ViewBag.PageSize&PageNumber=@(ViewBag.PageNumber-1)&SortColumn=@ViewBag.SortColumn&SortDirection=@ViewBag.SortDirection&SearchKey=@ViewBag.SearchKey" style="text-decoration: none;">
                        <button style="width:38px; height: 40px; background-color: white; border: 1px solid black; border-radius: 3px;">&lt;</button>
                    </a>
                    <a href="@Url.Action("UserListAll")?PageSize=@ViewBag.PageSize&PageNumber=@(ViewBag.PageNumber+1)&SortColumn=@ViewBag.SortColumn&SortDirection=@ViewBag.SortDirection&SearchKey=@ViewBag.SearchKey">
                        <button style="width:38px; height: 40px; background-color: white; border: 1px solid black; border-radius: 3px;">&gt;</button>
                    </a>
                </div>
            </div>
        </div>

    <!-- User List Table -->
    <div class="row rounded user-list-table table-responsive bg-white pb-3 mt-6">

        <table class="table text-center align-items-center justify-content-center" id="user-list-table-list">
            <tbody>
                <tr>
                    <th scope="col" class="d-flex">
                        <div class="me-2">
                            Name 
                        </div>  
                        <i class="bi bi-arrow-down-up" id="arrowName" onclick="sortTable('Firstname')"></i>
                    </th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col" class="d-flex justify-content-center">
                        <div class="me-2">
                            Role 
                        </div>  
                    <i class="bi bi-arrow-down-up" id="arrowRole" onclick="sortTable('Role')"></i>
                    </th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                @foreach(var user in Model){
                    <tr>
                        <td>
                            <div class="d-flex justify-content-start align-items-center">
                                @if(user.Photourl != null){
                                    <img src="@user.Photourl" alt="user-pic" class="user-table-pic">
                                }
                                else{
                                    <img src="~/images/Default_pfp.svg.png" alt="~/images/Default_pfp.svg.png" class="user-table-pic">
                                }
                                <div>
                                    @user.Firstname @user.Lastname
                                </div>
                            </div>
                        </td>
                        <td>@user.Email</td>
                        <td>@user.Phone</td>
                        <td>@user.Role</td>

                        <td>
                            <div class="w-100 text-center">
                                <span class="@(user.Status == true? "active-user" : "inactive-user")">
                                    @(user.Status == true? "Active" : "Inactive")
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <a asp-action="EditUser" asp-controller="AdminUsers" asp-route-email="@user.Email" style="text-decoration: none;">
                                    <img src="~/images/pen.svg" alt="" class="edit-delete-pic">
                                </a>
                                <img src="~/images/trash.svg" alt="" class="edit-delete-pic" data-bs-toggle="modal" data-bs-target="#deleteModal" data-email = "@user.Email" onclick="deleteUser(this)">
                            </div>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>


    </div>