<div class="row">
    <!-- category -->
    <div class="d-flex flex-column col-12 col-lg-2 border p-2 category-column">

        <div class="d-flex justify-content-between align-items-center mb-4 mt-2">
            <div class="name-category fs-5 special-color fw-bold">Category</div>
            <div class="add-category special-color fw-bold d-flex align-self-center" data-bs-toggle="modal" data-bs-target="#addCategoryModel">+</div>
        </div>


        <!-- category list  -->
        <div class="d-flex flex-column category-list ">
            @foreach(var category in Model.categoryList)
            {
                <div class="d-flex justify-content-between category-container">
                    <div class="d-flex pb-3 @(category.Categoryid == Model.items.Categoryid ? "active-category" : "")">
                        <img src="~/images/grid-3x2-gap-fill.svg" alt="" style="transform: rotate(90deg);">
                        <div onclick="changeCategory('@category.Categoryid')">@category.Categoryname</div>
                    </div>
                    <div class="text-nowrap button-container">
                        <img src="~/images/pen.svg" alt="" class="editButtom" id="editCategory" data-bs-toggle="modal" data-bs-target="#editCategoryModal" data-id = "@category.Categoryid" data-name = "@category.Categoryname" data-desc="@category.Description" onclick="editCategory(this)">
                        <img src="~/images/trash.svg" alt="" class="deleteButton" id="deleteCategory" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal" data-id="@category.Categoryid" onclick="deleteCategory(this)">
                    </div>
                </div>
            }
            
            @* <div class="d-flex pb-3 active-category">
                <img src="~/images/grid-3x2-gap-fill.svg" alt="" style="transform: rotate(90deg);">
                <div>Sandwich</div>
            </div> *@
        </div>
    </div>
    <!-- items -->
    <div class="contianer-fluid col-12 col-lg-10 category-item-list-container" id="menuListTable">

        <partial name="~/Views/Menu/_MenuListItemsTable.cshtml" />

        @* <div class="row special-color fw-bold fs-6">
            Items pageNumber = @Model.items.pageNumber  pagesize = @Model.items.pageSize count = @Model.items.count category-id = @Model.items.Categoryid searchKey = @Model.items.searchKey
        </div>

        <div class="row d-flex justify-content-end category-item-list-container">
            <div class="search-box d-flex align-items-center bg-white ms-2">
                <input type="text" placeholder="Search" id="search-input" class="text-bark d-none d-md-block items-search-input" value="@Model.items.searchKey" onkeydown="handleKeyPress(event)">
                <img src="~/images/search.png" alt="" class="search-img" onclick="itemSearch()">
            </div>
            <div style="width: fit-content;" class="d-flex justify-content-center align-items-center border ms-2"><img src="~/images/trash.svg" alt="" class="search-img"></div>
            <div class="d-flex align-items-center justify-content-center fs-3 ms-2" id="add-user-btn">
                + <span class="ms-2 fs-6 d-lg-flex d-none">New Item</span>
            </div>
        </div>

        <div class="row table-responsive item-table-conatainer">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col" class="d-flex">
                            <div class="form-check me-2">
                                <input class="form-check-input outer-check" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                            <div>
                                Name
                            </div>
                        </th>
                        <th scope="col" style="text-wrap: nowrap;">Item Type</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Available</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.items.itemList)
                    {
                        <tr>
                            <td>
                                <div class="d-flex justify-content-start">
                                    <div class="form-check me-2">
                                        <input class="form-check-input inner-check" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <img src="~/images/dining-menu.png" alt="" class="me-2" style="height: 25px;">
                                    <div>
                                        @item.ItemName
                                    </div>
                                </div>
                            </td>
                            <td class="text-center"><img src="@Url.Content(item.ItemType ? "~/images/icons/veg-icon.svg" : "~/images/icons/non-veg-icon.svg")" alt="" style="height: 20px;"></td>
                            <td>@item.Rate</td>
                            <td>@item.Quantity</td>
                            <td>
                                <div class="form-check form-switch d-flex justify-content-center">
                                    <input class="form-check-input toggle-size" type="checkbox" role="switch" id="flexSwitchCheckDefault" @((item.Isavailable) ? "checked": "") disabled>
                                </div>
                            </td>       
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="edit_user.html" style="text-decoration: none;">
                                        <img src="~/images/pen.svg" alt="" class="edit-delete-pic">
                                    </a>
                                    <img src="~/images/trash.svg" alt="" class="edit-delete-pic">
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-end align-items-end align-items-md-center flex-column flex-md-row bg-white pe-2 pt-3 mb-6" style="">
            <div class="d-flex align-items-center mt-6 mb-3 mb-md-0">
                <label for="itemsPerPage" class="form-label me-3 text-center">Items per page:</label>
                <select id="itemsPerPageItemList" class="form-select me-3" style="width: 68px; height: 85%; font-size: 15px;" onchange="updateItemListPerPage()">
                    @if (Model.items.pageSize != null)
                    {
                        <option value="1" selected="@(Model.items.pageSize == 1 ? true : false)">1</option>
                        <option value="2" selected="@(Model.items.pageSize == 2 ? true : false)">2</option>
                        <option value="5" selected="@(Model.items.pageSize == 5 ? true : false)">5</option>
                        <option value="10" selected="@(Model.items.pageSize == 10 ? true : false)">10</option>
                        <option value="25" selected="@(Model.items.pageSize == 25 ? true : false)">25</option>
                    }
                </select>
            </div>
            <div class="d-flex align-items-center me-3">
                <div class="me-2">
                    Showing 
                    @{
                        var startRecord = (Model.items.pageNumber - 1) * Model.items.pageSize + 1;
                        var endRecord = Model.items.pageNumber *  Model.items.pageSize;
                        if (endRecord > Model.items.count) 
                            endRecord = Model.items.count;
                        
                        if(Model.items.count==0){
                            startRecord = 0;
                            endRecord = 0;
                        }
                    }
                    <span style="color: green;" class="me-1">@startRecord  -  @endRecord</span>  of  <span style="color: red;" class="ms-1">@Model.items.count</span>
                </div>
                <div style="height: 100%">
                    <button style="width:38px; height: 40px; background-color: white; border: 1px solid black; border-radius: 3px;" onclick="updateListPage('back')">&lt;</button>
                    <button style="width:38px; height: 40px; background-color: white; border: 1px solid black; border-radius: 3px;" onclick="updateListPage('next')">&gt;</button>
                </div>
            </div>
        </div> *@
    </div>
    
</div>

<script>

function changeCategory(categoryId) {
    console.log('Category ID:', categoryId);

    $.ajax({
        url: "/Menu/MenuList", 
        type: "GET",
        data: {
            categoryId: categoryId,
        },
        success: function (data) {
            $("#nav-home").html(data);
        },
        error: function (xhr, status, error) {
            console.error("Error fetching data:", error);
        }
    });
}


</script>