<div class="row">
    <!-- category -->
    <div class="d-flex flex-column col-12 col-lg-2 border p-2 category-column">

        <div class="d-flex justify-content-between align-items-center mb-4 mt-2">
            <div class="name-category fs-5 special-color fw-bold">Category</div>
            <div class="add-category special-color fw-bold d-flex align-self-center" data-bs-toggle="modal" data-bs-target="#addCategoryModel">+</div>
        </div>

        <!-- category list  -->
        <div class="d-flex flex-column category-list ">
            @foreach(var category in Model.categoryList)
            {
                <div class="d-flex justify-content-between category-container">
                    <div class="d-flex pb-3 @(category.Categoryid == Model.items.Categoryid ? "active-category" : "")">
                        <img src="~/images/grid-3x2-gap-fill.svg" alt="" style="transform: rotate(90deg);">
                        <div onclick="changeCategory('@category.Categoryid')">@category.Categoryname</div>
                    </div>
                    <div class="text-nowrap button-container">
                        <img src="~/images/pen.svg" alt="" class="editButtom" id="editCategory" data-bs-toggle="modal" data-bs-target="#editCategoryModal" data-id = "@category.Categoryid" data-name = "@category.Categoryname" data-desc="@category.Description" onclick="editCategory(this)">
                        <img src="~/images/trash.svg" alt="" class="deleteButton" id="deleteCategory" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal" data-id="@category.Categoryid" onclick="deleteCategory(this)">
                    </div>
                </div>
            }        
        </div>
    </div>
    <!-- items -->
    <div class="contianer-fluid col-12 col-lg-10 category-item-list-container" id="menuListTable">
        <partial name="~/Views/Menu/_MenuListItemsTable.cshtml" />
    </div>

    
    
</div>

<script>

function changeCategory(categoryId) {
    console.log('Category ID:', categoryId);

    $.ajax({
        url: "/Menu/MenuList", 
        type: "GET",
        data: {
            categoryId: categoryId,
        },
        success: function (data) {
            $("#nav-home").html(data);
        },
        error: function (xhr, status, error) {
            console.error("Error fetching data:", error);
        }
    });
}



</script>